.banner {
  background-color: #800080;
  width: 100%;
}
.banner h1 {
  color: #fff;
  margin-bottom: 50px;
}
.banner a {
  font-size: 18px;
  margin: 3px 20px;
  color: #fff;
  text-shadow: 0 0 5px #ee82ee;
}
.bottomOut {
  position: absolute;
  bottom: 0;
}
.heightMe {
  height: 250px;
  position: relative;
  border: 3px outset #000;
  margin: 10px 4%;
  padding: 0;
}
