.banner
	background-color purple
	width 100%
	
.banner h1
	color white
	margin-bottom 50px
	
.banner a
	font-size 18px
	margin 3px 20px
	color white
	text-shadow 0 0 5px violet
	
.bottomOut
	position absolute
	bottom 0
	
.heightMe
	height 250px
	position relative
	border 3px outset black
	margin 10px 4%
	padding 0